.header {
  align-items: center;
  background-image: url("./bg.png");
  background-position-y: -5px;
  background-repeat: repeat-x;
  display: flex;
  height: 140px;
  justify-content: center;
  padding-bottom: 10px;
  width: 100%; }
