.addFavorites h1 {
  background: #241c41;
  border-radius: 3px;
  border: 1px solid #624385;
  color: #fff;
  display: block;
  font-family: 'Exo 2', sans-serif;
  font-size: 2.5rem;
  margin-top: 200px;
  margin: 200px auto 0 auto;
  padding: 50px;
  text-transform: uppercase;
  width: 40%;
}