.scrollingTextContainer {
  background-repeat: repeat !important;
  background: url("./bg.jpg");
  display: block;
  height: 100vh;
  padding-top: 40px; }

#titles {
  bottom: 0;
  font-size: 350%;
  font-weight: bold;
  height: 50em;
  left: 50%;
  margin-left: -9em;
  overflow: hidden;
  position: absolute;
  text-align: justify;
  transform-origin: 50% 100%;
  transform: perspective(300px) rotateX(25deg);
  width: 18em; }

span {
  color: white;
  margin-bottom: 20px; }

.scrollYear {
  color: white;
  font-size: 3rem; }

#titles:after {
  bottom: 0%;
  content: ' ';
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0; }

#titlecontent {
  position: absolute;
  top: 100%;
  animation: scroll 80s linear 4s infinite;
  color: #d39f00; }

@keyframes scroll {
  0% {
    top: 100%; }
  100% {
    top: -170%; } }
