.scrollingTextContainer {
  background: url("./bg.jpg");
  padding-top: 40px;
  height: 100vh;
  display: block;
  background-repeat: repeat !important; }

#titles {
  position: absolute;
  width: 18em;
  height: 50em;
  bottom: 0;
  left: 50%;
  margin-left: -9em;
  font-size: 350%;
  font-weight: bold;
  text-align: justify;
  overflow: hidden;
  transform-origin: 50% 100%;
  transform: perspective(300px) rotateX(25deg); }

span {
  color: white;
  margin-bottom: 20px; }

.scrollYear {
  font-size: 3rem;
  color: white; }

#titles:after {
  position: absolute;
  content: ' ';
  left: 0;
  right: 0;
  top: 0;
  bottom: 0%;
  pointer-events: none; }

#titlecontent {
  position: absolute;
  top: 100%;
  animation: scroll 80s linear 4s infinite;
  color: #d39f00; }

@keyframes scroll {
  0% {
    top: 100%; }
  100% {
    top: -170%; } }
