.header {
  display: inline-block;
  width: 80%; }

.cards {
  background: url("./bg.jpg");
  padding-top: 40px; }

.cards div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  width: 80%; }

.cardsWrapper {
  margin-bottom: 80px; }
