h2 {
  font-size: 1rem;
  margin: 0 0 0 10%;
  padding: 0; }

h3 {
  font-size: 1rem; }

.card p {
  margin-left: 10%;
  margin-right: 10%;
  color: #ccc; }

.card {
  background: #222;
  width: 22%;
  border-radius: 3px;
  padding: 0;
  color: #fff;
  margin: 10px;
  display: inline-block;
  text-align: left;
  position: relative;
  height: 330px; }

.cardHeader {
  display: flex;
  height: 60px;
  align-items: center;
  width: 100% !important;
  margin: 0;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-bottom: 1px solid #555; }

.cardFave {
  width: 29% !important;
  margin: 0 !important;
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  background: black;
  justify-content: center !important;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 0 3px 0 0; }

.cards {
  background: url(/static/media/bg.a365c158.jpg);
  padding-top: 40px;
  height: 100vh;
  display: block;
  background-repeat: repeat !important; }

.favoriteIcon {
  background-image: url("./star-inactive.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: 90%;
  width: 30px;
  height: 30px;
  display: block; }

.card.favorite .favoriteIcon {
  background-image: url("./star-active.png"); }

.cardBottom {
  background-image: url("./bottom-bg.png") !important;
  background-repeat: no-repeat !important;
  background-position-x: 30px !important;
  height: 100px;
  background: #111;
  margin: 0 !important;
  position: absolute;
  display: block;
  bottom: 0px;
  border-top: 1px solid #555;
  width: 100% !important;
  border-radius: 0 0 3px 3px; }

.card span {
  color: #1f648b; }

.favorite .cardBottom {
  background: #000; }
