h2 {
  font-size: 1.5rem; }

h3 {
  font-size: 1rem; }

.card {
  background: #222;
  width: 23%;
  padding: 20px 0;
  color: #fff;
  margin: 10px;
  display: inline-block; }

.cards {
  display: flex;
  flex-wrap: wrap; }

.favorite {
  background-image: url("./star-inactive.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: 90%;
  width: 100%;
  height: 35px;
  display: block; }
