h2 {
  font-size: 1rem;
  font-family: 'Exo 2', sans-serif;
  margin: 0 0 0 10%;
  padding: 0;
  text-transform: uppercase; }

h3 {
  font-size: 1rem; }

.card p {
  margin: 8% 10%;
  color: #ccc;
  line-height: 22px; }

.card {
  background: rgba(48, 39, 82, 0.75);
  border: 2px solid #241c41;
  width: 22%;
  border-radius: 3px;
  padding: 0;
  color: #fff;
  margin: 10px;
  display: inline-block;
  text-align: left;
  position: relative;
  height: 480px;
  box-shadow: 1px 2px 4px #624385; }

.cardHeader {
  display: flex;
  height: 60px;
  align-items: center;
  width: 100% !important;
  margin: 0;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-bottom: 1px solid #241c41; }

.cardFave {
  width: 29% !important;
  margin: 0 !important;
  height: 99%;
  display: -ms-flexbox;
  display: flex;
  background: #241c41;
  justify-content: center !important;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 0 3px 0 0; }

.cardFave:hover {
  cursor: pointer; }

.cards {
  background: url(/static/media/bg.a365c158.jpg);
  padding-top: 40px;
  height: 100vh;
  display: block;
  background-repeat: repeat !important; }

.favoriteIcon {
  background-image: url("./star-inactive.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: 90%;
  width: 30px;
  height: 30px;
  display: block; }

.card.favorite .favoriteIcon {
  background-image: url("./star-active.png"); }

.cardBottom {
  background-image: url("./bottom-bg-inactive.jpg") !important;
  background-repeat: no-repeat !important;
  background-size: cover;
  height: 100px;
  background: #241c41;
  margin: 0 !important;
  position: absolute;
  display: block;
  bottom: 0px;
  border-top: 1px solid #555;
  width: 100% !important;
  border-radius: 0 0 3px 3px; }

.card span {
  font-family: 'Exo 2', sans-serif;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.9rem; }

.favorite .cardBottom {
  background-image: url("./bottom-bg-active.jpg") !important; }
